*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}
.header1{
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header1 i{
    font-size: 40px;
    color: #ffffff;
}
.header2{
    display: flex;
    cursor: pointer;
}
.header2-box1{
    width: 50px;
    height: 100%;
    background-color: #1f1f1f;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.header2-box1 i{
    color: #ffffff;
}
.header2-box1:hover{
    transform: scale(1.1,1.1);
}
.header2-box2{
    width: 500px;
    height: 100%;
    background-color: #1f1f1f;
    display: flex;
    border-radius: 30px;
    padding: 5px 0px;
    align-items: center;
}
.header2-box2:hover{
    background-color: #2a2a2a;
}
.header2-box2:hover .h2box2-1 i{
    color: #ffffff;
}
.h2box2-2{
    width: 80%;
    border-right: solid #b3b3b3 1px;
}
.h2box2-2 input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.h2box2-1 i{
    font-size: 30px;
    padding: 10px;
    color: #b3b3b3;
}
.h2box2-3 i{
    font-size: 30px;
    padding: 10px;
    color: #b3b3b3;
}
.h2box2-3 i:hover{
    color: #ffffff;
}
.haader3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3-box1{
    color: #b3b3b3;
    font-size: 25px;
    font-weight: bold;
    margin-right:  30px;
    cursor: pointer;
}
.h3-box1:hover{
    color: white;
}
.h3-box2{
    padding-right: 10px;
}
.h3-box2 button{
    padding: 10px 40px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 20px ;
    cursor: pointer;
    transition: 0.2s;
}
.h3-box2 button:hover{
    transform: scale(1.1,1.1);
    background-color: #b3b3b3;
}
main{
    width: 100%;
    display: flex;
    gap: 1%;
    background-color: black;
}
.main-1{
    width: 25%;
    height: 673px;
    padding: 0px 10px;
    background-color: #121212;
}
.m1-p1{
    width: 100%;
    height: 50%;
}
.m1-p2{
    width: 100%;
    height: 50%;
    padding: 0px 10px;
    padding-top: 60px;
    background-color: #121212;
}
.m1-p2 a{
    text-decoration: none;
    color: #b3b3b3;
}
.m1-p2-menu2{
    margin-top: 15px;
}
.m1-p2-menu2:hover{
    text-decoration: underline;
}
.m1-p2-menu3{
    margin-top: 25px;
}
.m1-p2-menu3 button{
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    color: white;
    border: solid white 1px;
}
.m1-p2-menu3 button:hover{
    transform: scale(1.1,1.1);
    border: solid white 2px;
}
.m1-p2-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 15px;
}

.m1-p1-c1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    background-color: #121212;
}
.m1-p1-c2{
    width: 100%;
    height: 80%;
    overflow: auto;
}
.m1-p1-c2-box1{
    width: 100%;
    height: 60%;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.c2-box1-hadding{
    color: white;
    font-weight: bold;
}
.c2-box1-text{
    font-size: 20px;
    color: rgb(240, 238, 238);
}
.m1-p1-c2-box2{
    width: 100%;
    height: 80%;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
}
.m1-p1-c1-hadding{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.m1-p1-c1-hadding:hover{
    color: #ffffff;
}
.m1-p1-c1-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m1-p1-c1-icon:hover{
    color: #ffffff;
    background-color: #2a2a2a;
}
.main-2{
    width: 74%;
}
.main1-box1{
    width: 100%;
    height: 400px;
    background-color: black;
}
.main1-haddingbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.m1-haddingbox1{
    margin: 20px 30px;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.m1-haddingbox1:hover{
    text-decoration: underline;
}
.m1-haddingbox2{
    margin: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.m1-haddingbox2:hover{
    text-decoration: underline;
}
.img-1box-contaner{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.m1-img-box1{
    width: 15%;
    height: 100%;
    background-color: black;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.m1-img-box1:hover{
    background-color: #2a2a2a;
    border-radius: 5px;
}
.img-box1-hadding1:hover{
    text-decoration: underline;
}
.img-box1-img1{
    width: 100%;
    height: 50%;
}
.img-box1-img1 img{
    border-radius: 50%;
}
.img-box1-hadding1{
    color: #ffffff;
    font-size: 25px;
    padding: 10px 0px;
}
.img-box1-hadding2{
    font-size: 18px;
    color: #b3b3b3;
}
.img1-playbutton{
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    top: 36%;
    right: 10%;
    transition: 0.2s;
    transform: scale(0);
}
.m1-img-box1:hover .img1-playbutton{
    transform: scale(1);
}
.m1-img-box2{
    width: 15%;
    height: 100%;
    background-color: black;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.m1-img-box2:hover{
    background-color: #2a2a2a;
    border-radius: 5px;
}
.m1-img-box2:hover .img1-playbutton{
    transform: scale(1);
}
.m1-img-box3{
    width: 15%;
    height: 100%;
    background-color: black;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.m1-img-box3:hover{
    background-color: #2a2a2a;
    border-radius: 5px;
}
.m1-img-box3:hover .img1-playbutton{
    transform: scale(1);
}
.m1-img-box4{
    width: 15%;
    height: 100%;
    background-color: black;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.m1-img-box4:hover .img1-playbutton{
    transform: scale(1);
}
.m1-img-box4:hover{
    background-color: #2a2a2a;
    border-radius: 5px;
}
.m1-img-box5{
    width: 15%;
    height: 100%;
    background-color: black;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.m1-img-box5:hover{
    background-color: #2a2a2a;
    border-radius: 5px;
}
.m1-img-box5:hover .img1-playbutton{
    transform: scale(1);
}
.m1-img-box6{
    width: 15%;
    height: 100%;
    background-color: black;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.m1-img-box6:hover{
    background-color: #2a2a2a;
    border-radius: 5px;
}
.m1-img-box6:hover .img1-playbutton{
    transform: scale(1);
}
.al-box1-img1{
    width: 100%;
    height: 50%;
}
.al-box1-hadding2{
    font-size: 18px;
    color: #b3b3b3;
}
.al-box1-hadding2:hover{
    text-decoration: underline;
}
.al-box1-img1 img{
    border-radius: 5px;
}
.radio1-box1{
    width: 100%;
    height: 350px;
    background-color: black;
}
.radio-1box-contaner{
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: space-between;
}
.radio-box1-hadding2{
    font-size: 18px;
    color: #b3b3b3;
    padding-top: 15px;
}
.footer-box{
    width: 100%;
    border-bottom:  solid #b3b3b3 1px;
    padding-top: 50px;
    background-color: black;
    display: flex;
    padding-left: 20px;
}
.footer-box1{
    width: 20%;
    padding-bottom: 50px;
}
.footer-box1-ul-li ul{
    list-style: none;
    line-height: 40px;
}
.footer-box1-ul-li ul li a{
    text-decoration: none;
    color: #ffffff;
}
.footer-box1-ul-li ul li:hover{
    text-decoration: underline 1px;
    color: white;
}
.footer-box1-hadding{
    color: #ffffff;
    font-weight: bold;
}
.footer-box2{
    width: 20%;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
}
.footer-box2-icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer-box2-icon:hover{
    background-color: #b3b3b3;
}
.footer-box2-icon i{
    color: white;
}
.footer-box3{
    width: 100%;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: #b3b3b3;
    font-size: 25px;
    background-color: black;
}